body 
{
    position: relative; 
    padding-top: 50px; 
}
.bs-docs-nav 
{
    background-color: #563d7c;
}
.bs-docs-nav .navbar-brand 
{
    color: #fff;
}
.bs-docs-nav .navbar-nav > li > a 
{
    color: #cdbfe3;
}
.bs-docs-nav .navbar-nav > li > a:hover 
{
    color: #fff;
}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover 
{
    color: #fff;
    background-color: #463265;
}
.bs-docs-nav .navbar-toggle 
{
    border-color: #563d7c;
}
.bs-docs-nav .navbar-toggle:hover 
{
    background-color: #463265;
    border-color: #463265;
}

.bs-old-docs 
{
    padding: 15px 20px;
    color: #777;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
}
.bs-old-docs strong 
{
    color: #555;
}
.bs-docs-home .bs-old-docs 
{
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    color: inherit;
    background-color: transparent;
    border-color: transparent;
}
.bs-docs-home .bs-old-docs a 
{
    color: #fff;
}
.bs-docs-home {
    color: #cdbfe3;
    background-color: #563d7c;
}